{% extends "site_base.html" %}

{% load i18n %}
{% block title %} {% trans "OGC Services" %} — {{ block.super }}{% endblock %}

{% block body_outer %} 
 <h2>{% trans "ADRIPLAN NETWORK" %}</h2>
<p class="lead">ADRIPLAN collaborates with other projects to integrate and make available data from their portals.</p>
<p class="lead">The creation and maintenance of this network of collaborations allows the capitalization of existing multiple efforts and improves the availability of spatial dataset for users interested in MSP-related information.</p>
<p class="lead">All these portal use <a href="http://www.opengeospatial.org/">OGC</a> compliant web services to exchange spatial information. <a href="#internal">ADRIPLAN services</a> are described in the section at the end of this page.</p>
 <div class="row home-facets">
    <div class="col-md-5">
      <p><a href="http://www.shape-ipaproject.eu/"><img src="/static/img/logo-shape.jpg" alt="SHAPE" style="height:80px;"></a></p>
      <p>Shaping an Holistic Approach to Protect the Adriatic Environment between coast and sea</p>
      <p><a href="http://data.adriplan.eu/layers/?limit=20&offset=0&owner__username__in=SHAPE">DATA included ADRIPLAN</a></p>
    </div>
    <div class="col-md-5 col-md-offset-1">
      <p><a href="http://www.emodnet.eu/"><img src="/static/img/logo-emodnet.jpg" alt="Emodnet" style="height:80px;"></a></p>
      <p>The European Marine Observation and Data Network</p>
       <p><a href="http://data.adriplan.eu/layers/?limit=20&offset=0&owner__username__in=EMODnet">DATA included ADRIPLAN</a></p>
    </div>
  </div>
 <div class="row home-facets">
    <div class="col-md-5">
      <p><a href="http://ec.europa.eu/maritimeaffairs/atlas/index_it.htm"><img src="/static/img/logo_EAS.gif" alt="EAS" style="height:80px;"></a></p>
      <h2><a href="http://ec.europa.eu/maritimeaffairs/atlas/index_it.htm">EAS</a></h2>
      <p>The European Atlas of the Seas</p>
    </div>
    <div class="col-md-5 col-md-offset-1">
      <p><a href="http://www.eea.europa.eu/it"><img src="/static/img/logo-eea2.png" alt="EEA" style="height:80px;"></a></p>
      <h2><a href="http://www.eea.europa.eu/it">EEA</a></h2>
      <p>European Environment Agency</p>
    </div>
</div>

<div class="row home-facets">
    <div class="col-md-5">
      <p><a href="http://www.coconet-fp7.eu/"><img src="/static/img/logo_coconet.jpg" alt="EAS" style="height:80px;"></a></p>
      <h2><a href="http://www.coconet-fp7.eu/">COCONET</a></h2>
      <p>Towards COast to COast NETworks</p>
    </div>
    
    <div class="col-md-5 col-md-offset-1">
      <p><a href="http://www.ritmare.it/"><img src="/static/img/logo_ritmare.png" alt="RITMARE" style="height:80px;"></a></p>
      <h2><a href="http://www.ritmare.it/">RITMARE</a></h2>
      <p>La ricerca italiana per il mare</p>
    </div>

</div>






<div class="page-header">
  <h2>{% trans "ADRIPLAN Web Services" %}</h2>
</div>
<p class="lead"><a name="internal"></a>
    {% blocktrans %}The ADRIPLAN portal provides <a href="http://www.opengeospatial.org/">OGC</a> compliant web services to discover, view and download geospatial datasets.
{% endblocktrans %}</p>

<div class="tabbable"> <!-- Only required for left/right tabs -->
  <ul class="nav nav-tabs">
    <li class="active"><a href="#wms" data-toggle="tab">WMS</a></li>
    <li><a href="#wfs" data-toggle="tab">WFS</a></li>
    <li><a href="#wcs" data-toggle="tab">WCS</a></li>
    <li><a href="#csw" data-toggle="tab">CSW</a></li>
    <li><a href="#wmts" data-toggle="tab">WMTS</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="wms">
      <p></p>
      <p>A Web Map Service (WMS) is a standard protocol for serving georeferenced map images over the Internet that are generated by a map server using data from a GIS database. The specification was developed and first published by the <a target="_blank" href="http://www.opengeospatial.org/standards/wms">OGC</a> in 1999.
      <p>Normally WMS services are invoked using a <u>GIS-Desktop or WEB-GIS</u> software to have more interactive and user friendly controls.
      <p>
      <p>
      <div class="alert alert-info">
        <h4>URL:</h4>
          http://data.adriplan.eu:80/geoserver/wms?
      </div>
      <div class="alert alert-success">
        <a target="_blank"  href="{{GEOSERVER_BASE_URL}}ows?service=WMS&version=1.1.1&request=GetCapabilities"><h4>Capabilities Link</h4></a>
      </div>
    </div>
    <div class="tab-pane" id="wfs">
      <p></p>
      <p>The <a target="_blank" href="http://www.opengeospatial.org/standards/wfs">OGC</a> Web Feature Service Interface Standard (WFS) provides an interface allowing requests for geographical features across the web using platform-independent calls. One can think of geographical features as the "source code" behind a map, whereas the WMS interface or online mapping portals like Google Maps return only an image, which end-users cannot edit or spatially analyze.
</p>
<p>Normally WMS services are invoked using a <u>GIS-Desktop or WEB-GIS</u> software to have more interactive and user friendly controls.</p>
      <div class="alert alert-info">
        <h4>URL:</h4>
         http://data.adriplan.eu:80/geoserver/wfs
      </div>
     <div class="alert alert-success">
      <a target="_blank"  href="{{GEOSERVER_BASE_URL}}ows?service=WFS&version=1.1.0&request=GetCapabilities"><h4>Capabilities Link<h4></a>
     </div>
    </div>
    <div class="tab-pane" id="wcs">
      <p></p>
      <p>The <a target="_blank" href="http://www.opengeospatial.org/standards/wfs">OGC</a> Web Coverage Service Interface Standard (WCS) defines Web-based retrieval of coverages – that is, digital geospatial information representing space/time-varying phenomena. Typical example for this services are remote-sensing images and digital terrain model.</p>
      <p>Normally WMS services are invoked using a <u>GIS-Desktop or WEB-GIS</u> software to have more interactive and user friendly controls.</p>
      <div class="alert alert-info">
        <h4>URL:</h4>
       http://data.adriplan.eu:80/geoserver/wcs?
      </div>
       <div class="alert alert-success">
      <a target="_blank" href="{{GEOSERVER_BASE_URL}}ows?service=WCS&version=1.1.1&request=GetCapabilities"><h4>Capabilities Link</h4></a>
      </div>
    </div>
    <div class="tab-pane" id="csw">
     <p></p>
      <p>Catalog Service for the Web (CSW), sometimes seen as Catalog Service - Web, is a standard for exposing a catalogue of geospatial records in XML on the Internet (over HTTP). The catalogue is made up of records that describe geospatial data (e.g. KML), geospatial services (e.g. WMS), and related resources.</p>
      <p>CSW is one part (or "profile") of the <a target="_blank" href="http://www.opengeospatial.org/standards/wfs">OGC</a> Catalog Service, which defines common interfaces to discover, browse, and query metadata about data, services, and other potential resources.</p>
      <div class="alert alert-info">
        <h4>URL:</h4>
        http://data.adriplan.eu/catalogue/csw
      </div>
      <div class="alert alert-success">
       <a target="_blank"  href="{{CATALOGUE_BASE_URL}}?service=CSW&version=2.0.2&request=GetCapabilities"><h4>Capabilities Link</h4></a>
      </div>
    </div>
    <div class="tab-pane" id="wmts">
       <p></p>
      <p>A Web Map Tile Service (WMTS) is a standard protocol for serving pre-rendered georeferenced map tiles over the Internet. The specification was developed and first published by the <a target="_blank" href="http://www.opengeospatial.org/standards/wfs">OGC</a> in 2010.</p>
      <p></p>
     <div class="alert alert-info">
        <h4>URL:</h4>
         http://data.adriplan.eu/geoserver/gwc/service/wmts?
     </div>
     <div class="alert alert-success">
      <a target="_blank"  href="{{GEOSERVER_BASE_URL}}gwc/service/wmts?service=WMTS&version=1.0.0&request=GetCapabilities"><h4>Capabilities Link</h4></a>
     </div>
    </div>

  </div>
</div>

{% endblock %}
