{% extends "base.html" %}
{% load i18n %}

{% block head %}

{{ block.super }}

<link rel="icon" href="/static/geonode/img/favicon.ico" />
<!-- Begin Cookie Consent plugin by Silktide - http://silktide.com/cookieconsent -->
<script type="text/javascript">
    window.cookieconsent_options = {"message":"This website uses cookies to ensure you get the best experience on our website","dismiss":"Got it!","learnMore":"More info","link":null,"theme":"dark-top"};
</script>

<script type="text/javascript" src="//s3.amazonaws.com/cc.silktide.com/cookieconsent.latest.min.js"></script>
<!-- End Cookie Consent plugin -->

{% endblock %}

  {% block extra_tab %}

  <!--li id="nav_services">
    <a href="{% url "about_services" %}">{% trans "Network" %}</a>
  </li-->
  <li id="nav_msp">
    <a href="{% url "tools4msp-home" %}">{% trans "Tools4MSP" %}</a>
  </li>
   <li id="nav_contacts">
    <a href="{% url "contacts" %}">{% trans "Get involved" %}</a>
  </li>
  <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About <span class="caret"></span></a>
      <ul class="dropdown-menu">
          <li><a href="{% url "about" %}">About</a></li>
          <li><a href="{% url "team" %}">Team</a></li>
          <li><a href="{% url "publications" %}">Publications</a></li>
          <li><a href="{% url "projects" %}">Projects</a></li>
          <li><a href="{% url "about_services" %}">Network</a></li>
      </ul>
  </li>

  {% endblock %}
